@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";


body {
  background-color: whitesmoke;
  color: rgb(52, 51, 51);
  text-align: center;
  margin-top: 100px;
}

#main-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 100px;
  align-content: center;  


#form-container {
    width: 60%;
    margin: auto;
    justify-content: center;
    color: white;


    #formModal {
      color: black;
   }
 }


#store {
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    margin: auto;
    justify-content: center;


    .card {
      width: 300px;
      margin: 5px;


      .sale-badge {
        font-size: 1em;
        background-color: blue;
      }
      .fav-badge{
        font-size: 1em;
        background-color: gold;
      }
    }


    .table {
      margin: 10px;
      width: 80%;
      margin: 0 auto;
    }
  }
}